<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
 
<%= yield %>
 
</body>
</html>